---
import Layout from "../layouts/Layout.astro";
---

<div class="sm:grid grid-cols-2 gap-x-6">
  <div class="relative">
    <div class="absolute w-full h-full top-0 left-0"
         style="background: radial-gradient(50% 50% at 50% 50%, var(--background-light) 0%, rgba(var(--background-light), 0.9) 95%, rgba(var(--background-light), 0) 110%);">
    </div>
    <div class="isolate">
      <img src="https://cdn.evickastudio.de/static%2Fmedia%2Flogo.svg" alt="EvickaStudio Logo" class="h-10 sm:h-12 w-auto ml-4"/>
      <div class="px-3">
        <h1 class="text-3xl sm:text-5xl max-w-lg font-display pt-7 sm:pb-4 pb-2 leading-[110%]">
          Welcome to EvickaStudio
        </h1>
        <p class="text-base sm:text-xl max-w-md text-gray-700" style="color: #7b8187;">Explore my projects and learn more about my work.</p>
        <div class="pt-7 sm:flex sm:space-x-6 space-y-3 sm:space-y-0">
          <a href="https://github.com/EvickaStudio" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="relative">
    <img src="https://cdn.evickastudio.de/static/media/render.webp" alt="Render Image" class="w-full h-auto salmon-glow"/>
  </div>
</div>

<style>
  .salmon-glow {
    filter: drop-shadow(0 0 20px rgba(250, 128, 114, 0.6)); /* Salmon pink radial glow */
  }
</style>