---
import Layout from "../../layouts/Layout.astro";
---

<section class="blog">
  <h2>Blog</h2>
  <p>Coming soon...</p>
</section>

<style>
  .blog h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    animation: fadeIn 1s ease-in-out;
  }

  .blog p {
    font-size: 1.125rem;
    line-height: 1.6;
  }
</style>
