---
import Layout from "../../layouts/Layout.astro";
import SkillCard from "../../components/SkillCard.astro";
---

<section class="skills">
  <h2>Skills</h2>
  <div class="skills-card-grid">
const skills = ["Java", "Python", "Go", "C", "MariaDB", "MySQL", "SQLite", "Git", "Docker"];
{skills.map(skill => <SkillCard skill={skill} />)}
  </div>
</section>

<style>
  .skills h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    animation: fadeIn 1s ease-in-out;
  }

  .skills-card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0;
    margin: 0;
  }
</style>
