---
---
<footer class="footer">
  <p>&copy; 2024 EvickaStudio. All rights reserved.</p>
</footer>
<style>
  .footer {
    width: 100%;
    padding: 1rem;
    background-color: #23262d;
    color: white;
    text-align: center;
  }
</style>
