---
---
<header class="header">
  <a href="/" class="logo">
    <img src="https://cdn.evickastudio.de/static/media/logo.svg" alt="EvickaStudio Logo" />
  </a>
  <h1>EvickaStudio</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
<style>
  .header {
    width: 100%;
    padding: 1rem;
    background-color: #23262d;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo img {
    height: 40px;
    margin-right: 1rem;
  }
  .header nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  .header nav ul li a {
    color: white;
    text-decoration: none;
  }
</style>
